numpy
scipy
matplotlib
# Pillow-SIMD>=5.3; sys_platform=="win32"
# Pillow>=5.3; sys_platform=="linux" or sys_platform=="darwin"
Pillow
six
nornir_pools @ git+https://github.com/jamesra/nornir-pools@dev#egg=nornir_pools-1.5.0
nornir_shared @ git+https://github.com/jamesra/nornir-shared@dev#egg=nornir_shared-1.5.0
hypothesis
